.about-me-container {
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    padding-left: 2rem;
  }

.about-me-card {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-me-card img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: none; 
  }

  
  .content {
    margin-top: 20px;
  }
  
  .linkedin-button {
    margin-top: 20px;
  }
  
  .linkedin-button a {
    display: flex;
    align-items: center;
    color: #0077b5; /* LinkedIn blue color */
    text-decoration: none;
  }
  
  .linkedin-button a:hover {
    text-decoration: underline;
  }
  
  .linkedin-button span {
    margin-left: 10px;
  }